/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/comment.scss */
.comment {
  display: flex;
  margin: 12px 0;
}

/* line 6, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/comment.scss */
.comment-author-picture {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

/* line 12, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/comment.scss */
.comment-author {
  color: #365899;
  font-size: 13px;
  font-weight: bold;
}

/* line 18, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/comment.scss */
.comment-content {
  font-size: 14px;
}

/* line 22, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/comment.scss */
.comment-actions {
  color: #365899;
  font-size: 14px;
}

/* line 27, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/comment.scss */
.comment-date {
  color: #90949c;
  font-size: 14px;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/greeting.scss */
.personal-greeting {
  background: #3b5998;
  height: 42px;
  display: flex;
  justify-content: center;
}

/* line 8, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/greeting.scss */
.personal-greeting-elements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 856px;
}

/* line 16, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/greeting.scss */
.small-logo {
  display: block;
  width: 24px;
  height: 24px;
  color: #fff;
  background-image: url(/assets/icons/small_logo.png);
  background-position: 0px 205px, center;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/home_profile.scss */
.home-user {
  display: flex;
  width: 981px;
  margin: 0 auto;
}

/* line 7, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/home_profile.scss */
.home-user-main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 854px;
}

/* line 14, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/home_profile.scss */
.profile-header-image {
  height: 316px;
  width: 100%;
}

/* line 19, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/home_profile.scss */
.profile-picture {
  position: absolute;
  top: 168px;
  left: 18px;
  height: 162px;
  width: 162px;
  padding: 4px;
  background: #fff;
  border: 1px solid rgba(179, 179, 179, 0.5);
  border-radius: 4px;
}

/* line 31, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/home_profile.scss */
.user-name {
  position: absolute;
  top: 266px;
  left: 207px;
  font-size: 28px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/log_in.scss */
.logged-out-header {
  width: 100%;
  height: 82px;
  background: #3b5998;
  float: left;
  border-bottom: 1px solid #133783;
}

/* line 9, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/log_in.scss */
.large-logo {
  float: left;
  position: absolute;
  top: 36px;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
}

/* line 19, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/log_in.scss */
.logged-out-nav {
  width: 980px;
  margin: 0 auto;
}

/* line 25, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/log_in.scss */
.login-input {
  float: left;
}

/* line 29, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/log_in.scss */
.login-form > ul {
  color: white;
  margin: 5px;
}

/* line 34, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/log_in.scss */
.login-form-box {
  float: right;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post {
  display: flex;
  border: 1px solid #d3d6db;
  border-radius: 4px;
  background: #fff;
  margin: 8px 0;
}

/* line 9, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-details {
  margin: 10px;
  width: 100%;
}

/* line 14, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-author-picture {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

/* line 20, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-header {
  display: flex;
  align-items: center;
}

/* line 25, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-author {
  margin-bottom: 10px;
}

/* line 29, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-author a {
  font-weight: bold;
  color: #365899;
}

/* line 34, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-date {
  font-size: 10px;
}

/* line 38, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-content {
  margin: 8px 0 6px 0;
}

/* line 42, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-actions {
  display: flex;
  padding: 6px 0;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  color: #7f7f7f;
  font-size: 13px;
  font-weight: bold;
}

/* line 53, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-like {
  color: #5890ff;
}

/* line 60, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.post-likes {
  padding: 6px 0;
  font-size: 14px;
  color: #355695;
  border-bottom: 1px solid lightgray;
}

/* line 67, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.comment-compose {
  display: flex;
}

/* line 71, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.comment-compose-author-picture {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

/* line 77, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/post.scss */
.comment-input {
  width: 100%;
  height: 22px;
  font-size: 13px;
  padding: 4px;
  color: #90949c;
  border: 1px solid #dddfe2;
  -webkit-appearance: none;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.user-action-bar {
  position: absolute;
  display: flex;
  top: 270px;
  left: 548px;
  font-size: 12px;
  font-weight: bold;
}

/* line 10, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.update-action {
  margin-right: 20px;
  border: 1px solid rgba(40, 40, 40, 0.5);
  border-radius: 2px;
}

/* line 16, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.update-action-requested {
  margin-right: 20px;
  border: 1px solid rgba(40, 40, 40, 0.5);
  border-radius: 2px;
  background: #3b5998;
  padding: 6px 14px;
  color: #fff;
}

/* line 25, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.side-actions {
  display: flex;
  border: 1px solid rgba(40, 40, 40, 0.5);
  border-radius: 2px;
}

/* line 31, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.side-actions a {
  border-left: 1px solid #ccc;
}

/* line 35, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.side-actions a:first-child {
  border-left: none;
}

/* line 39, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.user-action-bar a {
  padding: 6px 14px;
  background: #f6f7f9;
  color: #4b4f56;
}

/* line 45, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_action_bar.scss */
.user-action-bar a:hover {
  background: #e9ebee;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_header_nav.scss */
.profile-header-nav {
  display: flex;
  justify-content: center;
  border: 1px solid #d3d6db;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fff;
}

/* line 10, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_header_nav.scss */
.profile-header-nav-links {
  display: flex;
  border-right: 1px solid #e9eaed;
}

/* line 18, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile_header_nav.scss */
.profile-header-nav-links a {
  cursor: pointer;
  border-left: 1px solid #e9eaed;
  padding: 10px 20px;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile.scss */
.profile {
  background: lightblue;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
}

/* line 8, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile.scss */
.profile-index {
  background: white;
  width: 600px;
  margin: 0 auto;
}

/* line 14, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/profile.scss */
.profile-index-item {
  background: lightblue;
  width: 80%;
  margin: 20px auto;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/search_bar.scss */
.search-bar {
  display: flex;
  position: relative;
}

/* line 6, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/search_bar.scss */
.search-bar-input {
  display: inline-block;
  font-size: 20px;
  -webkit-appearance: none;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 22px;
  width: 400px;
}

/* line 17, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/search_bar.scss */
.search-bar-submit {
  display: inline-block;
  font-size: 20px;
  -webkit-appearance: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 24px;
  width: 48px;
  background: #fff;
}

/* line 29, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/search_bar.scss */
.search-bar-submit:hover {
  background: #eee;
}

/* line 2, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-messages {
  float: left;
}

/* line 6, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-messages > h1 {
  font-size: 32px;
  width: 565px;
  margin: 80px 0;
}

/* line 12, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-bullets {
  margin: 60px 0;
  color: #666666;
}

/* line 17, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-bullets li {
  list-style-type: none;
  height: 80px;
  vertical-align: middle;
}

/* line 23, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-bullets span {
  font-weight: bold;
  color: #333333;
}

/* line 28, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-bullets img {
  float: left;
}

/* line 32, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-bullets > li > h4 > strong {
  font-size: 18px;
  color: #343434;
}

/* line 37, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.iconImages {
  float: left;
}

/* line 41, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.iconImages li {
  width: 80px;
  height: 80px;
}

/* line 46, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.email-input {
  float: left;
}

/* line 50, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.password-input {
  float: left;
}

/* line 54, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.session-submit {
  margin: 20px;
  color: white;
  background: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
}

/* line 62, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.form-and-header {
  float: right;
  margin: 40px 0;
}

/* line 67, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-header > h1 {
  font-size: 36px;
  font-weight: bold;
}

/* line 72, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-header > h3 {
  font-size: 20px;
}

/* line 76, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-form-container {
  background: #edf0f5;
  height: 760px;
  width: 100%;
}

/* line 82, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-form {
  float: right;
  width: 400px;
}

/* line 87, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.name-inputs {
  width: 100%;
}

/* line 91, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.name-inputs > input {
  float: left;
  width: 174px;
}

/* line 96, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.name-inputs > input:last-child {
  margin-left: 20px;
}

/* line 100, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-input {
  display: block;
  width: 380px;
  height: 30px;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 20px;
  padding: 4px;
  border: 1px solid #bdc7d8;
}

/* line 111, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-input > ul > li {
  float: left;
}

/* line 115, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-submit {
  width: 200px;
  height: 42px;
  background: #5b93fc;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  border-left: 1px solid #29487c;
  border-top: 1px solid #29487d;
  border-right: 1px solid #29487c;
  border-bottom: 1px solid #1a3a6d;
}

/* line 131, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.guest-submit {
  background: green;
}

/* line 135, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.birthday-inputs > h3 {
  font-size: 22px;
}

/* line 139, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.gender {
  border: none;
}

/* line 143, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/sign_up.scss */
.sign-up-content {
  width: 980px;
  margin: 0 auto;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/timeline.scss */
.timeline {
  position: absolute;
  top: 364px;
  left: 344px;
  display: flex;
  flex-direction: column;
  width: 510px;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d6db;
  border-radius: 4px;
  background: #fff;
  margin: 8px 0;
}

/* line 10, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-header {
  height: 35px;
  display: flex;
  flex-direction: row;
  background: #f6f7f9;
  align-items: center;
  justify-content: space-between;
}

/* line 19, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-tabs {
  display: flex;
  flex-direction: row;
  float: right;
}

/* line 25, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-tabs a {
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  color: #365899;
}

/* line 34, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-tabs li {
  border-right: 1px solid #cccccc;
  height: 14px;
}

/* line 39, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-tabs li:last-child {
  border: none;
}

/* line 44, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-tabs a:last-of-type {
  border: none;
}

/* line 48, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-input {
  display: flex;
  flex-direction: row;
  height: 75px;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

/* line 57, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-footer {
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

/* line 65, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.poster-profile-thumb {
  height: 42px;
  width: 42px;
  margin-right: 10px;
  margin: 12px;
}

/* line 72, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-form-text-input {
  width: calc(100% - 95px);
  margin: 8px;
  border: none;
}

/* line 78, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/new_post_form.scss */
.new-post-submit {
  height: 24px;
  width: 60px;
  background: #4267b2;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 0 8px;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/newsfeed.scss */
.newsfeed {
  position: absolute;
  top: 50px;
  left: 344px;
  display: flex;
  flex-direction: column;
  width: 510px;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friends_preview.scss */
.friends-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d3d6db;
  border-radius: 4px;
  background: #fff;
  margin: 8px 0;
}

/* line 11, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friends_preview.scss */
.friends-preview-thumb {
  height: 100px;
  width: 100px;
  float: left;
  margin: 1px;
  border: 1px solid gray;
}

/* line 19, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friends_preview.scss */
.friends-preview-thumbs {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

/* line 27, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friends_preview.scss */
.friends-preview-header {
  height: 40px;
  display: flex;
  align-items: center;
  margin: 5px;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/user_report.scss */
.user-report {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 328px;
  float: left;
}

/* line 1, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-requests {
  width: 430px;
  background: #fff;
  position: absolute;
  top: 42px;
  left: 346px;
  border: 1px solid #d3d6db;
  border-radius: 4px;
  background: #fff;
}

/* line 12, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-request-thumb {
  height: 50px;
  width: 50px;
}

/* line 17, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-top: 1px solid #e9ebee;
}

/* line 25, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-request-details {
  display: flex;
  align-items: center;
}

/* line 30, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-request-link {
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #4267b2;
}

/* line 37, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-request-approve {
  height: 24px;
  width: 60px;
  background: #4267b2;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 0 8px;
}

/* line 47, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-requests-header {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
}

/* line 53, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/friend_requests.scss */
.friend-requests-pointer {
  background: #fff;
  position: absolute;
  top: -10px;
  left: 350px;
  height: 20px;
  width: 20px;
  transform: rotateZ(45deg);
}

/* line 35, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/application.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 55, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/application.scss */
body {
  box-sizing: content-box;
  font-family: "Tahoma", serif;
  font-size: 16px;
  line-height: 16px;
  line-height: 1.16666666666;
  background: #e9ebee;
  color: #000;
}

/* line 65, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/application.scss */
ul {
  list-style: none;
}

/* line 69, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/application.scss */
a {
  cursor: pointer;
}

/* line 73, /Users/appacademy/Desktop/FBClone/app/assets/stylesheets/application.scss */
.group:after {
  content: "";
  clear: both;
  display: block;
}
