/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, head, title, body, div, ul, li, h1, h2, h3, h4, h5 {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: "Tahoma", serif;
  font-size: 16px;
  line-height: 16px;
  line-height: 1.16666666666;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

/*profile styling*/

.profile {
background: lightblue;
width: 500px;
margin: 0 auto;
font-size: 24px;
}

.profile-index {
background: white;
width: 600px;
margin: 0 auto;
}

.profile-index-item {
background: lightblue;
width: 80%;
margin: 20px auto;
font-size: 36px;
text-decoration: none;
font-weight: bold;
}


/*sign up styling*/

.sign-up-messages {
  float: left;
}

.sign-up-messages > h1 {
  font-size: 32px;
  width: 565px;
  margin: 80px 0;
}

.sign-up-bullets {
  margin: 60px 0;
  color: rgb(102, 102, 102);
}

.sign-up-bullets li {
  list-style-type: none;
  height: 80px;
  vertical-align: middle;
}

.sign-up-bullets span {
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.sign-up-bullets img {
  float: left;
}

.sign-up-bullets > li > h4 > strong  {
  font-size: 18px;
  color: rgb(52, 52, 52);
}

.iconImages {
  float: left;
}

.iconImages li {
  width: 80px;
  height: 80px;
}

.email-input {
  float: left;
}

.password-input {
  float: left;
}

.session-submit {
  margin: 20px;
  color: white;
  background: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  border-radius: 2px;
}

.form-and-header {
  float: right;
  margin: 40px 0;
}

.sign-up-header > h1 {
  font-size: 36px;
  font-weight: bold;
}

.sign-up-header > h3 {
  font-size: 20px;
}

.sign-up-form-container {
  background: rgb(237, 240, 245);
  height: 760px;
  width: 100%;
}

.sign-up-form {
  float: right;
  width: 400px;
}

.name-inputs {
  width: 100%;
}

.name-inputs > input {
  float: left;
  width: 174px;
}

.name-inputs >input:last-child {
  margin-left: 20px;
}

.sign-up-input {
  display: block;
  width: 380px;
  height: 30px;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 20px;
  padding: 4px;
  border: 1px solid rgb(189, 199, 216);
}

.sign-up-input > ul > li {
  float: left;
}

.sign-up-submit {
  width: 160px;
  height: 42px;
  background: rgb(97, 158, 78);
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  border-left: 1px solid rgb(192, 192, 192);
  border-top: 1px solid rgb(192, 192, 192);
  border-right: 1px solid rgb(108, 108, 108);
  border-bottom: 1px solid rgb(108, 108, 108);
}

.birthday-inputs > h3 {
  font-size: 22px;
}

.gender {
  border: none;
}

.sign-up-content {
  width: 980px;
  margin: 0 auto;
}


/*log in styling*/

.logged-out-header {
  width: 100%;
  height: 82px;
  background: rgb(59, 89, 152);
  float: left;
  border-bottom: 1px solid rgb(19, 55, 131);
}

.large-logo {
  float: left;
  position: absolute;
  top: 36px;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #fff
}

.logged-out-nav {
  width: 980px;
  margin: 0 auto;

}

.login-input {
  float: left;
}

.login-form > ul {
  color: white;
  margin: 5px;
}

.login-form-box {
  float: right;
}
