/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, head, title, body, div, ul, li, h1 {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: serif;
  font-size: 16px;
  line-height: 16px;
  line-height: 1.16666666666;
  background: #eee;
  color: #000;
}

ul {
  list-style: none;
}

.profile {
  background: lightblue;
  width: 500px;
  margin: 0 auto;
  font-size: 24px;
}

.profile-index {
  background: white;
  width: 600px;
  margin: 0 auto;
}

.profile-index-item {
  background: lightblue;
  width: 80%;
  margin: 20px auto;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
}

.logged-out-header {
  width: 100%;
  height: 60px;
  background: rgb(59, 89, 152);
  float: left;
}

.large-logo {
  float: left;
  position: absolute;
  top: 36px;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #fff
}

.logged-out-nav {
  width: 900px;
  margin: 0 auto;

}

.login-input {
  float: left;
}

.login-form > ul {
  color: white;
  margin: 5px;
}

.login-form-box {
  float: right;
}

.email-input {
  float: left;
}
.password-input {
  float: left;
}

.session-submit {
  margin: 20px;
  color: white;
  background: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  border-radius: 2px;
}
