/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "comment";
@import "greeting";
@import "home_profile";
@import "log_in";
@import "post";
@import "profile_action_bar";
@import "profile_header_nav";
@import "profile";
@import "search_bar";
@import "sign_up";
@import "timeline";
@import "new_post_form";
@import "newsfeed";
@import "friends_preview";
@import "user_report";
@import "friend_requests";
@import "photos_preview";
@import "intro";
@import "live_chat";
@import "active_user_detail";
@import "live_chat_search";
@import "live_chat_boxes";
@import "live_chat_box";
@import "about";
@import "notifications";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
  text-decoration: none;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
  box-sizing: content-box;
  font-family: "Tahoma", serif;
  font-size: 16px;
  line-height: 16px;
  line-height: 1.16666666666;
  background: rgb(233, 235, 238);
  color: #000;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//   outline: none;
// }

textarea {
  resize: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
