.friends-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(211, 214, 219);
  border-radius: 4px;
  background: #fff;
  margin: 8px 0;
}

.friends-preview-thumb {
  height: 101px;
  width: 101px;
  float: left;
  margin: 1px;
}

.friends-preview-thumbs {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.friends-preview-header {
  height: 40px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.friends-preview-icon {
  display: block;
  margin: 0 10px 0 4px;
  background-image: image-url('icons2.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-position: 0 -180px;
}
