.friend-requests {
  width: 430px;
  background: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  background: #fff;
  position: absolute;
  right: 316px;
  top: -34px;
  z-index: 1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.friend-request-thumb {
  height: 50px;
  width: 50px;
}

.friend-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-top: 1px solid rgb(233, 235, 238);
}

.no-friend-requests {
  display: flex;
  align-items: center;
  color: black;
  border-top: 1px solid rgb(233, 235, 238);
}

.friend-request-details {
  display: flex;
  align-items: center;
}

.friend-request-link {
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(66, 103, 178);
}

.friend-request-approve {
  height: 24px;
  width: 60px;
  background: rgb(66, 103, 178);
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 0 8px;
}

.friend-requests-header {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.friend-requests-pointer {
  background: #fff;
  position: absolute;
  top: -6px;
  left: 353px;
  height: 16px;
  width: 16px;
  transform: rotateZ(45deg);
}
