.personal-greeting {
  background: rgb(59, 89, 152);
  height: 42px;
  display: flex;
  justify-content: center;
}

.personal-greeting-elements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 856px;
}

.small-logo {
  display: block;
  width: 24px;
  height: 24px;
  color: #fff;
  background-image: url(/assets/images/small_logo.png);
  background-position: 0px 205px, center;
}
// font-size: 28px;
// overflow: hidden;

// .logo {
//   background-image: url(/assets/icons/small_logo.png);
//   position: relative;
//   bottom: 40px;
//   width: 54px;
//   height: 54px;
// }
