.personal-greeting {
  background: rgb(59, 89, 152);
  height: 42px;
  display: flex;
  justify-content: center;
  position: fixed;
  border-bottom: 1px solid rgb(41, 72, 125);
  left: 0;
  right: 0;
  z-index: 1;
}

.header-bar-fix {
  height: 42px;
}

.personal-greeting-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 980px;
}

.small-logo {
  width: 25px;
  height: 25px;
  margin: 0 6px 0 8px;
  color: #fff;
  background-image: image-url('small_logo.png');
  background-position: 0px 205px, center;
}

.my-profile-link-thumb {
  width: 24px;
  height: 24px;
}

.my-profile-link-name {
  margin: 0 10px;
}

.my-profile-link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 2px;

  &:hover {
    background-color: rgb(53, 80, 137);
    border: 2px solid rgb(53, 80, 137);
    text-decoration: none;
  }
}


.friend-requests-container {
  display: flex;
  position: relative;
  top: 69px;
  left: 373px;
}

.notifications-container {
  display: flex;
  position: relative;
  top: 69px;
  left: 373px;
}

.messages-container {
  display: flex;
  position: relative;
  top: 69px;
  left: 373px;
}

.hidden {
  display: none;
}

.friend-requests-icon {
  width: 25px;
  height: 26px;
  color: #fff;
  background-image: image-url('header_icons.png');
  background-position: 0px 584px, center;
  cursor: pointer;
}

.friend-requests-icon-clicked {
  width: 25px;
  height: 26px;
  color: #fff;
  background-image: image-url('header_icons.png');
  background-position: 0px 558px, center;
  cursor: pointer;
}

.notifications-icon {
  width: 25px;
  height: 26px;
  color: #fff;
  background-image: image-url('header_icons.png');
  background-position: 0px 534px, center;
  cursor: pointer;
}

.notifications-icon-clicked {
  width: 25px;
  height: 26px;
  color: #fff;
  background-image: image-url('header_icons.png');
  background-position: 0px -239px, center;
  cursor: pointer;
}

.messages-icon {
  position: relative;
  bottom: 2px;
  width: 25px;
  height: 22px;
  color: #fff;
  background-image: image-url('header_icons.png');
  background-position: 0px -314px, center;
  cursor: pointer;
}

.messages-icon-clicked {
  position: relative;
  bottom: 2px;
  width: 25px;
  height: 22px;
  color: #fff;
  background-image: image-url('header_icons.png');
  background-position: 0px -339px, center;
  cursor: pointer;
}

.newsfeed-link {
  padding: 5px 10px;
  color: white;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  margin-right: 30px;

  &:hover {
    background-color: rgb(53, 80, 137);
    border: 2px solid rgb(53, 80, 137);
    text-decoration: none;
  }
}


.logout-button {
  padding: 5px 10px;
  margin: 0 18px;
  color: white;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 2px;

  &:hover {
    background-color: rgb(53, 80, 137);
    border: 2px solid rgb(53, 80, 137);
    cursor: pointer;
  }
}


.pipe {
  width: 1px;
  height: 16px;
  background-image: image-url('small_logo.png');
  background-position: 0px 178px, center;
}

.icon-and-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header-icons-and-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
