.home-user {
  display: flex;
  width: 981px;
  margin: 0 auto;
}

.home-user-main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 854px;
}

.profile-header-image {
  height: 316px;
  width: 100%;
}

.profile-picture {
  position: absolute;
  top: 168px;
  left: 18px;
  height: 162px;
  width: 162px;
  padding: 4px;
  background: #fff;
  border: 1px solid rgba(179, 179, 179, .5);
  border-radius: 4px;
}

.user-name {
  position: absolute;
  top: 266px;
  left: 207px;
  font-size: 28px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
}
