.home-user {
  display: flex;
  width: 981px;
  margin: 0 auto;
}

.home-user-main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 854px;
}

.profile-header-image {
  height: 316px;
  width: 100%;
}

.profile-picture {
  position: absolute;
  top: 168px;
  left: 18px;
  height: 162px;
  width: 162px;
  padding: 4px;
  background: #fff;
  border: 1px solid rgba(179, 179, 179, .5);
  border-radius: 4px;
}

.user-name {
  position: absolute;
  top: 266px;
  left: 207px;
  font-size: 28px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
}

.profile-image-drop {
  position: absolute;
  margin: 5px;
  top: 168px;
  left: 18px;
  height: 162px;
  width: 162px;
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

.profile-pic-input {
  opacity: 0;
  background-color: blue;
  height: 100%;
  width: 100%;
}
