.logged-out-header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 82px;
  background: rgb(59, 89, 152);
  float: left;
  border-bottom: 1px solid rgb(19, 55, 131);
}

.large-logo {
  position: absolute;
  top: 36px;
  font-weight: bold;
  font-size: 28px;
  color: #fff
}

.logged-out-nav {
  width: 980px;
  display: flex;
  align-items: center;
}

.login-form {

}

.login-form > ul {
  color: white;
  margin: 5px;
}

.login-header-fix {
  height: 83px;
}
