.messages {
  width: 430px;
  background: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  background: #fff;
  position: absolute;
  right: 316px;
  top: -34px;
  z-index: 1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.message-detail-name-and-content {
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-thumb {
  height: 50px;
  width: 50px;
}

.message-content {
  color: rgb(140, 141, 141);
}

.message-created-at {
  color: rgb(140, 141, 141);
  font-size: 10px;
}

.message {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-top: 1px solid rgb(233, 235, 238);

  &:hover {
    background-color: rgb(246, 247, 249);
  }
}

.no-messages {
  justify-content: center;
  font-size: 14px;
  color: rgb(126, 126, 126);
  background-color: rgb(246, 247, 249);
  padding: 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(233, 235, 238);
}

.message-details {
  display: flex;
  align-items: center;
  height: 100%;
}

.message-link {
  font-size: 12px;
  font-weight: bold;
  color: rgb(77, 80, 87);
}

.messages-header {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.messages-pointer {
  background: #fff;
  position: absolute;
  top: -6px;
  left: 353px;
  height: 16px;
  width: 16px;
  transform: rotateZ(45deg);
}
