.photos-preview-icon {
  display: block;
  margin: 0 10px 0 4px;
  background-image: image-url('icons2.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 24px;
  height: 24px;
  background-position: -25px -180px;
}
