.post {
  display: flex;
  border: 1px solid rgb(211, 214, 219);
  border-radius: 4px;
  background: #fff;
  margin: 8px 0;
}

.post-details {
  margin: 10px;
  width: 100%;
}

.post-author-picture {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-author {
  margin-bottom: 10px;
}

.post-author a{
  font-weight: bold;
  color: rgb(54, 88, 153);
}

.post-date {
  font-size: 10px;
}

.post-content {
  margin: 8px 0 6px 0;
}

.post-actions {
  display: flex;
  padding: 6px 0;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  color: rgb(127, 127, 127);
  font-size: 13px;
  font-weight: bold;
}

.post-like {
  color: rgb(88, 144, 255);
}

.post-comments {
}

.post-likes {
  padding: 6px 0;
  font-size: 14px;
  color: rgb(53, 86, 149);
  border-bottom: 1px solid lightgray;
}

.comment-compose {
  display: flex;
}

.comment-compose-author-picture {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.comment-input {
  width: 100%;
  height: 22px;
  font-size: 13px;
  padding: 4px;
  color: rgb(144, 148, 156);
  border: 1px solid rgb(221, 223, 226);
  -webkit-appearance: none;
}
