.profile {
  background: lightblue;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
}

.profile-index {
  background: white;
  width: 600px;
  margin: 0 auto;
}

.profile-index-item {
  background: lightblue;
  width: 80%;
  margin: 20px auto;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
}
