.user-action-bar {
  position: absolute;
  display: flex;
  top: 270px;
  left: 548px;
  font-size: 12px;
  font-weight: bold;
}

.update-action {
  margin-right: 20px;
  border: 1px solid rgba(40, 40, 40, .5);
  border-radius: 2px;
}

.side-actions {
  display: flex;
  border: 1px solid rgba(40, 40, 40, .5);
  border-radius: 2px;
}

.side-actions div {
  border-left: 1px solid #ccc;
}

.side-actions div:first-child {
  border-left: none
}

.user-action-bar div {
  padding: 6px 14px;
  background: rgb(246, 247, 249);
  color: rgb(75, 79, 86);
}
