.profile-header-nav {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(211, 214, 219);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fff;
}

.profile-header-nav-links {
  display: flex;
  border-right: 1px solid rgb(233, 234, 237);
}

.profile-header-nav-links li {
}

.inactive-header-nav-tab {
  cursor: pointer;
  border-left: 1px solid rgb(233, 234, 237);
  padding: 10px 20px;
  color: rgb(54, 88, 153);
  font-size: 13px;
  font-weight: bold;
}

.active-header-nav-tab {
  cursor: pointer;
  border-left: 1px solid rgb(233, 234, 237);
  padding: 10px 20px;
  color: rgb(75, 79, 86);
  font-size: 13px;
  font-weight: bold;
}
